<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<h1 id="full2">ABOUT</h1>
<P id="full2">안녕하세요! 멋쟁이 사자처럼 7기 김하은입니다.</P>
<P id="full2">이 사이트는 입력한 문장를 분석해 각 단어가 몇 번 사용되었는지 알려줍니다.</P>
<P id="full2">띄어쓰기를 기준으로 단어를 구분하며 이 외 특별한 기능은 없습니당...ㅎ</P>

<a href="{% url 'home' %} ">home으로 돌아가기...</a>
<style>
        @font-face { 
           font-family: 'Handon3gyeopsal300g';
           src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); 
           font-weight: normal; 
           font-style: normal; 
       }
       #full2 {
           font-family: 'Handon3gyeopsal300g';
           font-size: 35px;
       }
       body{
            background-color: rgb(189, 209, 252);
        }
   </style>
   